 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jason is a product manager who is able to jump in and get his hands dirty when necessary. He can manage a software team, hack at code, wireframe, manage the story backlog, produce marketing materials, interface with customers, meet with executives/other departments, and run QA testing.</p>
                </div>
                <div class="col-lg-4">
                    <p>Jason is interested in software startups, education technology (ed-tech), digital agencies, and innovative tech companies. He is interested in opportunities which are technical, entrepreneurial, strategic, and creative.</p>
                </div>
            </div>
        </div>
    </section>