 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jason is a product manager who is able to jump in and get his hands dirty when necessary. He can:
                        <ul>
                            <li>manage a software team</li>
                            <li>hack at code</li>
                            <li>wireframe</li>
                            <li>manage the story backlog</li>
                            <li>produce marketing materials</li>
                            <li>interface with customers</li>
                            <li>meet with executives/other departments</li>
                            <li>run QA testing</li>
                        </ul></p>
                    <p>
                        Jason is interested in software startups, education technology (ed-tech), digital agencies, and innovative tech companies.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>With a special mix of technical abiliy, entrepreneurial spirit, and creativity, Jason is interested in software startups, education technology (ed-tech), digital agencies, and innovative tech companies.</p>
                </div>
            </div>
        </div>
    </section>