 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jason Scanzoni is a product manager who is able to jump in and get his hands dirty when necessary. He can:
                        <ul>
                            <li>manage a software team</li>
                            <li>hack at code</li>
                            <li>wireframe</li>
                            <li>manage the story backlog</li>
                            <li>produce marketing materials</li>
                            <li>interface with customers</li>
                            <li>run software trainings</li>
                            <li>meet with executives/other departments</li>
                            <li>run QA testing</li>
                        </ul></p>
                    <p>
                        Jason is interested in software startups, education technology (ed-tech), digital agencies, and innovative tech companies.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>With the perfect mix of <strong>technical</strong> abiliy, <strong>entrepreneurial</strong> spirit, <strong>creativity</strong>, and <strong>curiosity</strong>, Jason is able to continually deliver solutions to meet the demands of the business and enhance the user experience. He has:
                        <ul>
                            <li>built a product to automate lead generation</li>
                            <li>developed scalable policies and proceedures</li>
                            <li>built departments to take on key business functions</li>
                            <li>increased customer satisfaction</li>
                            <li>designed effective project dashboards and presentations</li>
                        </ul></p>
                    <p>
                        Having experience at non-profits, corporate, and startups in both regulated and unregulated industries, Jason has the ability to look at problems from multiple angles and he is able to interact and understand the needs of all stakeholders.
                    </p>
                </div>
            </div>
        </div>
    </section>